*{
    font-family: sans-serif;
}

#remote-container video{
    height: auto;
    position: relative !important;
  border-color: black black black black;
}
#me{
    position: relative;
    width: 10cm;
    height:10cm;
    
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-color: black black black black;
  
}
#me:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
     
  }
  
#me video{
    position: relative !important;
    border-color: black black black black;
}
#remote-container{
    width: 10cm;
    height:10cm;
    border-color: black black black black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    position:absolute;
    top:5.8cm;
    left:23cm;
}
#remote-container:hover {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
  
  }
  .joinn{
      position:absolute;
    top:7cm;
    left:15cm;
    border-color: black black black black;
  }
.ssdd{
    position:absolute;
    top:8.6cm;
    left:16.5cm;
    border-color: black black black black;
}
  
body {
    font-family: Helvetica;
    margin: 0 auto;
    width: 90%;
    font-size: 16px;

     color: #272829;

  }
  
  .background {
    background-color: lightgray;
    background-size: 100px 100px;
    background-position: 0 0;
  }
  
  .content {
    border-radius: 5px;
    background-color: whitesmoke;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin: 5% 0;
    padding: 5%;
    
  }
  
  .h1 {
    margin-top: 0;
    text-align: center;
    font-size: 3rem;
     font-size: 60px;
     font-weight: bold;

     margin-bottom: 20px;
     padding-bottom: 20px;
     position: relative;
     color: #173b6c;
  }
  span{
    text-decoration: underline;
  }
  
  
  .footer {
    text-align: center;
    padding-top: 2%;
    font-size: 0.7rem;
  }
  .inst{
    background-color: wheat;
    justify-content: center;
    width:auto;

  }

.foot{
  background-color: burlywood;
  font-style: italic;

  
}
 .btPn {
    
    justify-items: center;
     justify-content: center;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   color: #000000;
   font-family: Arial;
   font-size: 17px;
   font-weight: 100;
   font-weight: bold;
   padding: 4px;
   background-color: lightgray;
   border: solid #FFFFFF 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
     
}

 
